.element__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  margin: 0;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
